:root{
  --body-font:'ZenDots-Regular', sans-serif;
  --big-font-size: 2rem;
  --h2-font-size: 1.25rem;
  --normal-font-size: 0.938rem;
}
@media screen and (min-width: 768px){
  :root{
    --big-font-size: 3.5rem;
    --h2-font-size: 2rem;
    --normal-font-size: 1rem;
  }
}

/*margins*/
:root{
  --mb-1: 0.5rem;
  --mb-2: 1rem;
  --mb-3: 1.5rem;
  --mb-4: 2rem;
  --mb-5: 2.5rem;
  --mb-6: 3rem;
}

:root{
  --header-height: 3rem;
  --font-semi: 600;
}

/*zindex*/
:root{
  --z-back: -10;
  --z-normal: 1;
  --z-tooltip: 10;
  --z-fixed: 100;
}
@font-face {
  font-family:'ZenDots-Regular';
  src: url('..\\assets\\fonts\\ZenDots-Regular.ttf');
}

*,::before,::after{
  box-sizing: border-box;
}
*{
  scroll-behavior: smooth;
}
html{
  scroll-behavior: smooth;
}
body{
  margin: var(--header-height) 0 0 0;
  font-family: 'ZenDots-Regular';
  font-size: var(--normal-font-size);
  color: black;
}
h1,h2,p{
  margin: 0;
}
ul{
  margin: 0;
  padding: 0;
  list-style: none;
}
a{
  text-decoration: none;
}
img{
  max-width: 100%;
  height: auto;
  display: block;
}

.section-title{
  position: relative;
  font-size: var(--h2-font-size);
  color: black;
  margin-top: var(--mb-2);
  margin-bottom: var(--mb-4);
  text-align: center;
}
.section-title::after{
  position: absolute;
  content: "";
  width: 64px;
  height: 0.18rem;
  left: 0;
  right: 0;
  margin: auto;
  top: 2rem;
  background-color: white;
}
.section{
  padding-top: 3rem;
  padding-bottom: 2rem;
}

/*layout*/
.bd-grid{
  max-width: 1024px;
  display: grid;
  grid-template-columns: 100%;
  grid-column-gap: 2rem;
  width: calc(100% - 2rem);
  margin-left: var(--mb-2);
  margin-right: var(--mb-2);
}
.header{
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--z-fixed);
  background-color: #fff;
  box-shadow: 0 1px 4px rgba(146,161,176,.15);
}

/*navigation*/
.nav{
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: var(--font-semi);
}
@media screen and (max-width: 768px){
  .navmenu{
    position: fixed;
    top: var(--header-height);
    right: -100%;
    width: 80%;
    height: 100%;
    padding: 2rem;
    background-color: #0E2431;
    transition: .5s;
  }
}
.navitem{
  margin-bottom: var(--mb-4);
}
.navlink{
  position: relative;
  color: #fff;
  transition: 0.5s;
}
.navlink:hover{
  position: relative;
  color: #5c5346;
}
.navlink::after{
  position: relative;
  content: "";
  transition: transform 0.5s;
  transform: scaleX(0);
  transform-origin:right ;
  background-color: black;
}
.navlink:hover::after{
  position: absolute;
  content: "";
  width: 100%;
  height: 0.18rem;
  left: 0;
  top: 2rem;
  transform: scaleX(1);
  transform-origin: left;
}
.navlogo{
  color: #0E2431;
  font-size: 2rem;
}
.navtoggle{
  color: #0E2431;
  font-size: 1.5rem;
  cursor: pointer;
}

/*menu*/
.active::after{
  position: absolute;
  content: "";
  width: 100%;
  height: 0.18rem;
  left: 0;
  top: 2rem;
  background-color: black;
}
.show{
  right: 0;
}

/*home*/
.home{
  height: calc(100vh - 3rem);
  row-gap: 1rem;
}
.homedata{
  align-self: center;
}
.hometitle{
  margin-top: 10%;
  font-size: 3rem;
  margin-bottom: var(--mb-1);
}
.txt-rotate{
  color: gray;
}
.hometitle-color{
  color: black;
}
.space{
  display: flex;
  flex-direction: column;
}
.homeimg{
  margin: 0 auto;
  max-width: 90%;
  right: 0;
  margin-bottom: 100%;
  width: 295px;
  height: 350px;

}


/*music*/
.player {
  height: 90vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
 
.details {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  margin-top: 2px;
}
 
.track-art {
  margin: 20px;
  height: 250px;
  width: 250px;
  background-image: URL("https://source.unsplash.com/Qrspubmx6kE/640x360");
  background-size: cover;
  background-position: center;
}
 
.now-playing {
  font-size: 1rem;
}
 
.track-name {
  font-size: 2.5rem;
}
 
.track-artist {
  font-size: 1.5rem;
}
 
.buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
}
 
.playpause-track,
.prev-track,
.next-track {
  padding: 20px;
  opacity: 0.8;
  transition: opacity .2s;
}
 
.playpause-track:hover,
.prev-track:hover,
.next-track:hover {
  opacity: 1.0;
}
 
.slider_container {
  width: 75%;
  max-width: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}
 
.seek_slider, .volume_slider {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  height: 5px;
  background: black;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}
 
.seek_slider::-webkit-slider-thumb,
.volume_slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 15px;
  height: 15px;
  background: white;
  cursor: pointer;
  border-radius: 50%;
}
 
.seek_slider:hover,
.volume_slider:hover {
  opacity: 1.0;
}
 
.seek_slider {
  width: 60%;
}
 
.volume_slider {
  width: 30%;
}
 
.current-time,
.total-duration {
  padding: 10px;
}
 
i.fa-volume-down,
i.fa-volume-up {
  padding: 10px;
}
 
i.fa-play-circle,
i.fa-pause-circle,
i.fa-step-forward,
i.fa-step-backward {
  cursor: pointer;
}

/*artist*/
.arti{
  height: 100vh;
}

.artiss{
  display: flex;
  align-items: center;
  padding-bottom: 20x;
}


.slideshow{
  margin:  0 auto;
  max-width: 23rem;
}

.mySlides {
  display: none;
}

.pictu{
  background-color: rgba(0,0,0,.5);
  border-radius: 50%;
  text-align: center;
}

.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

/*albums*/
.albumscontainer{
  row-gap: 2rem;
}
.albumsimg{
  box-shadow: 0 4px 25px rgba(14,36,49,.30);
  border-radius: .5rem;
  overflow: hidden;
  position: relative;
}

.igm{
  display: block;
}
.igmoverlay{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.6);
  color: white;
  font-family: 'ZenDots-Regular';
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 1s;

}
.igmoverlay--blur{
  backdrop-filter: blur(5px);
}
.igmoverlay > *{
  transform: translateY(20px);
  transition: transform 0.25s;
}
.igmoverlay:hover{
  opacity: 1;
  border:  1px solid white;
  border-top: 0;
  border-left: 0;
  padding-bottom: 0.5rem;
  padding-right: 0.5rem;
}
.igmoverlay:hover > *{
  transform: translateY(0);
}
.igmtitle{
  font-size: 2em;
  font-weight: bold;

}
.igmpara{
  font-size: 1.25em;
  margin-top: 0.25em;
  text-align: center;
}



/*message me*/
.container1 {
  flex: 0 1 700px;
  margin: auto;
  padding: 10px;
  max-width: 500px;
}

.screen-body {
  display: flex;
  background-color: white;
  border-radius: 0px;
}

.screen-body:hover{
  box-shadow: 10px 10px 15px rgba(255, 255, 255, .30);
}

.screen-body-item {
  flex: 1;
  padding: 30px 40px;
}

.app-contact {
  margin-top: auto;
  font-size: 8px;
  color: #888;
}

.app-form-group {
  margin-bottom: 15px;
}

.app-form-group.message {
  margin-top: 40px;
}

.app-form-group.buttons {
  margin-bottom: 0;
  text-align: center;
}

.app-form-control {
  width: 100%;
  padding: 10px 0;
  background: none;
  border: none;
  border-bottom: 1px solid #666;
  color: rgb(0, 0, 0);
  font-size: 14px;
  text-transform: uppercase;
  outline: none;
  transition: border-color .2s;
}

.app-form-control::placeholder {
  color: rgb(119, 119, 119);
}

.app-form-control:focus {
  border-bottom-color: white;
}

.app-form-button {
  background: transparent;
  border-radius: 3px;
  font-size: 18px;
  cursor: pointer;
  outline: none;
  padding: 10px 15px;
}

.app-form-button:hover {
  font-size: 20px;
}

@media screen and (max-width: 520px) {
  .screen-body {
    flex-direction: column;
  }

  .screen-body-item.left {
    margin-bottom: 30px;
  }

  .app-title {
    flex-direction: row;
  }

  .app-title span {
    margin-right: 12px;
  }

  .app-title:after {
    display: none;
  }
}

@media screen and (max-width: 600px) {
  .screen-body {
    padding: 40px;
  }

  .screen-body-item {
    padding: 0;
  }
}

/*footer*/
.footer{
  
  color: black;
  text-align: center;
  font-weight: var(--font-semi);
  padding: 2rem 0;
}
.footertitle{
  font-size: 1.5rem;
  margin-bottom: var(--mb-4);
}


/*queries*/
@media screen and (min-width: 768px){
  body{
    margin: 0;
  }
  .section{
    padding-top: 4rem;
    padding-bottom: 3rem;
  }
  .section-title{
    margin-bottom: var(--mb-6);
  }
  .section-title::after{
    width: 80px;
    top: 3rem;
  }

  .nav{
    height: calc(var(--header-height) + 1rem);
  }
  .navlist{
    display: flex;
    padding-top: 0;
  }
  .navitem{
    margin-left: var(--mb-6);
    margin-bottom: 0;
  }
  .navtoggle{
    display: none;
  }
  .navlink{
    color: #0E2431;
  }

  .home{
    height: 100vh;
  }
  .homedata{
    align-self: flex-end;
  }
  .space{
    padding-top: 0;
    padding-bottom: 2.5rem;
    flex-direction: row;
    align-self: flex-end;
  }

  .homeimg{
    height: auto;
    width: 400px;
    bottom: 36%;
    justify-content: center;
    align-self: center;
    display: flex;
  }

  .slideshow{
    justify-content: center;
    box-shadow: 10px 10px 15px rgba(255,255,255, 0.30);
  }
  .albumscontainer{
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2,1fr);
    column-gap: 2rem;
  }
  .contact__form{
    width: 360px;
  }
  .contact__container{
    justify-items: center;
  }
}

@media screen and (min-width: 1024px){
  .bd-grid{
    margin-left: auto;
    margin-right: auto;
  }
  .homeimg{
    right: 5%;
    bottom: 25%;
  }
}



